.github/                        @dart-ecosystem-admins
pkgs/bazel_worker               @dart-bat #create
pkgs/benchmark_harness          @dart-vm #create
pkgs/boolean_selector           @dart-ecosystem-admins #assign
pkgs/browser_launcher           @dart-ecosystem-admins #assign
pkgs/cli_config                 @dcharkes
pkgs/cli_util                   @devoncarew
pkgs/clock                      @dart-ecosystem-admins #assign
pkgs/code_builder               @dart-ecosystem-admins #assign
pkgs/coverage                   @liamappelbe @dart-vm
pkgs/csslib                     @leonsenft
pkgs/extension_discovery        #unknown
pkgs/file                       @dart-ecosystem-admins #assign
pkgs/file_testing               @dart-ecosystem-admins #assign
pkgs/glob                       @dart-ecosystem-admins #assign
pkgs/graphs                     @natebosch
pkgs/html                       @HosseinYousefi
pkgs/io                         @dart-bat
pkgs/json_rpc_2                 @dart-ecosystem-admins #assign
pkgs/markdown                   @analyzer-team
pkgs/mime                       @dart-ecosystem-admins #assign - @lrhn?
pkgs/oauth2                     @dart-ecosystem-admins #assign - @dart-pub-team?
pkgs/package_config             @dart-ecosystem-admins
pkgs/pool                       @dart-ecosystem-admins
pkgs/pub_semver                 @dart-pub-team
pkgs/pubspec_parse              @dart-bat
pkgs/source_maps                @dart-ecosystem-admins #assign
pkgs/source_map_stack_trace     @dart-ecosystem-admins #assign
pkgs/source_span                @dart-ecosystem-admins #assign
pkgs/sse                        @dash-developer-services #create
pkgs/stack_trace                @dart-ecosystem-admins #assign
pkgs/stream_channel             @natebosch
pkgs/stream_transform           @natebosch
pkgs/string_scanner             @dart-ecosystem-admins #assign
pkgs/term_glyph                 @dart-bat
pkgs/test_reflective_loader     @scheglov
pkgs/timing                     @dart-bat
pkgs/unified_analytics          @flutter-tools @dash-developer-services #create
pkgs/watcher                    @dart-ecosystem-admins #assign
pkgs/yaml                       @dart-pub-team
pkgs/yaml_edit                  @dart-pub-team
