# The CODEOWNERS file helps to define individuals or teams that responsible
# for code within the repository
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/pkgs/dash_analytics/ @eliasyishak
