name: Dart

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    # “At 00:00 (UTC) on Sunday.”
    - cron: '0 0 * * 0'

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sdk: [dev, stable]

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
      - uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: ${{ matrix.sdk }}
          
      - name: pub get
        run: dart pub get

      - name: dart format
        run: dart format --output=none --set-exit-if-changed .

      - name: dart analyze
        run: dart analyze

      - name: dart test
        run: dart test
