name: package_config
version: 1.9.0-dev
description: Support for working with Package Configuration files.
homepage: https://github.com/dart-lang/package_config

environment:
  sdk: '>=2.7.0 <3.0.0'

dependencies:
  path: ^1.6.4

dev_dependencies:
  test: ^1.6.4
  matcher: ^0.12.5
  pedantic: 1.8.0
