name: package:cli_config
permissions: read-all

on:
  pull_request:
    paths:
      - ".github/workflows/cli_config.yml"
      - "pkgs/cli_config/**"
  push:
    branches: [main]
    paths:
      - ".github/workflows/cli_config.yml"
      - "pkgs/cli_config/**"
  schedule:
    - cron: "0 0 * * 0" # weekly

jobs:
  build_linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pkgs/cli_config
    strategy:
      matrix:
        sdk: [stable, dev] # {pkgs.versions}
        include:
          - sdk: stable
            run-tests: true
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - uses: dart-lang/setup-dart@fedb1266e91cf51be2fdb382869461a434b920a3
        with:
          sdk: ${{matrix.sdk}}

      - run: dart pub get

      - run: dart analyze --fatal-infos

      - run: dart format --output=none --set-exit-if-changed .
        if: ${{matrix.run-tests}}

      - run: dart test
        if: ${{matrix.run-tests}}

      - name: Install coverage
        run: dart pub global activate coverage
        if: ${{ matrix.sdk == 'stable' }}
      - name: Collect coverage
        run: dart pub global run coverage:test_with_coverage
        if: ${{ matrix.sdk == 'stable' }}
      - name: Upload coverage
        uses: coverallsapp/github-action@3dfc5567390f6fa9267c0ee9c251e4c8c3f18949
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: cli_config_linux
          path-to-lcov: ./pkgs/cli_config/coverage/lcov.info
        if: ${{ matrix.sdk == 'stable' }}

  build_windows:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: pkgs/cli_config
    strategy:
      matrix:
        sdk: [stable, dev] # {pkgs.versions}
        include:
          - sdk: stable
            run-tests: true
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - uses: dart-lang/setup-dart@fedb1266e91cf51be2fdb382869461a434b920a3
        with:
          sdk: ${{matrix.sdk}}

      - run: dart pub get

      - run: dart test
        if: ${{matrix.run-tests}}

      - name: Install coverage
        run: dart pub global activate coverage
        if: ${{ matrix.sdk == 'stable' }}
      - name: Collect coverage
        run: dart pub global run coverage:test_with_coverage
        if: ${{ matrix.sdk == 'stable' }}
      - name: Upload coverage
        uses: coverallsapp/github-action@3dfc5567390f6fa9267c0ee9c251e4c8c3f18949
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: cli_config_windows
          path-to-lcov: ./pkgs/cli_config/coverage/lcov.info
        if: ${{ matrix.sdk == 'stable' }}
