name: package:cli_config
permissions: read-all

on:
  pull_request:
    branches: [main]
    paths:
      - ".github/workflows/cli_config.yml"
      - "pkgs/cli_config/**"
  push:
    branches: [main]
    paths:
      - ".github/workflows/cli_config.yml"
      - "pkgs/cli_config/**"
  schedule:
    - cron: "0 0 * * 0" # weekly

jobs:
  build_linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pkgs/cli_config
    strategy:
      matrix:
        sdk: [stable, dev] # {pkgs.versions}
        include:
          - sdk: stable
            run-tests: true
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
      - uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: ${{matrix.sdk}}

      - run: dart pub get

      - run: dart analyze --fatal-infos

      - run: dart format --output=none --set-exit-if-changed .
        if: ${{matrix.run-tests}}

      - run: dart test
        if: ${{matrix.run-tests}}

      - name: Install coverage
        run: dart pub global activate coverage
        if: ${{ matrix.sdk == 'stable' }}
      - name: Collect coverage
        run: dart pub global run coverage:test_with_coverage
        if: ${{ matrix.sdk == 'stable' }}
      - name: Upload coverage
        uses: coverallsapp/github-action@f350da2c033043742f89e8c0b7b5145a1616da6d
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: cli_config_linux
          path-to-lcov: ./pkgs/cli_config/coverage/lcov.info
        if: ${{ matrix.sdk == 'stable' }}

  build_windows:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: pkgs/cli_config
    strategy:
      matrix:
        sdk: [stable, dev] # {pkgs.versions}
        include:
          - sdk: stable
            run-tests: true
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
      - uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: ${{matrix.sdk}}

      - run: dart pub get

      - run: dart test
        if: ${{matrix.run-tests}}

      - name: Install coverage
        run: dart pub global activate coverage
        if: ${{ matrix.sdk == 'stable' }}
      - name: Collect coverage
        run: dart pub global run coverage:test_with_coverage
        if: ${{ matrix.sdk == 'stable' }}
      - name: Upload coverage
        uses: coverallsapp/github-action@f350da2c033043742f89e8c0b7b5145a1616da6d
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: cli_config_windows
          path-to-lcov: ./pkgs/cli_config/coverage/lcov.info
        if: ${{ matrix.sdk == 'stable' }}
