name: package:graphs

permissions: read-all

on:
  # Run CI on all PRs and on pushes to the main branch.
  pull_request:
    paths:
      - '.github/workflows/graphs.yml'
      - 'pkgs/graphs/**'
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/graphs.yml'
      - 'pkgs/graphs/**'
  schedule:
    - cron: '0 0 * * 0' # weekly

defaults:
  run:
    working-directory: pkgs/graphs

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sdk: [stable, dev]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: dart-lang/setup-dart@0a8a0fc875eb934c15d08629302413c671d3f672
        with:
          sdk: ${{ matrix.sdk }}

      - run: dart pub get

      - run: dart analyze --fatal-infos

      - run: dart format --output=none --set-exit-if-changed .
        if: ${{ matrix.sdk == 'stable' }}

      - run: dart test
