name: package:mime
permissions: read-all

on:
  schedule:
    # “At 00:00 (UTC) on Sunday.”
    - cron: '0 0 * * 0'
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/mime.yaml'
      - 'pkgs/mime/**'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/mime.yaml'
      - 'pkgs/mime/**'

defaults:
  run:
    working-directory: pkgs/mime/

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
        sdk: [3.2, dev]
    steps:
      # These are the latest versions of the github actions; dependabot will
      # send PRs to keep these up-to-date.
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c

      - name: Install dependencies
        run: dart pub get
  
      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Analyze project source
        run: dart analyze --fatal-infos

      - name: Run tests
        run: dart test

      - name: "Re run 'dart tool/regenerate_tables.dart' to update doc/media_types.md"
        run: dart tool/regenerate_tables.dart
      - run: git diff --exit-code
