name: package:process
permissions: read-all

on:
  schedule:
    # “At 00:00 (UTC) on Sunday.”
    - cron: '0 0 * * 0'
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/process.yaml'
      - 'pkgs/process/**'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/process.yaml'
      - 'pkgs/process/**'

defaults:
  run:
    working-directory: pkgs/process/

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        sdk: [stable, dev]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c

      - run: dart pub get
      - run: dart format --output=none --set-exit-if-changed .
        if: ${{ matrix.sdk == 'stable' }}
      - run: dart analyze --fatal-infos
      - run: dart test
