# A CI configuration to auto-publish pub packages.

name: Publish
permissions: read-all

on:
  pull_request:
    branches: [ main ]
  push:
    # Match <package-name>-v<version> publish tags
    tags: [ '[A-z0-9]+-v[0-9]+.[0-9]+.[0-9]+' ]

jobs:
  publish:
    if: ${{ github.repository_owner == 'dart-lang' }}
    uses: dart-lang/ecosystem/.github/workflows/publish.yaml@main
    with:
      write-comments: false
    permissions:
      id-token: write
      pull-requests: write
