name: package:unified_analytics
permissions: read-all

on:
  pull_request:
    paths:
      - '.github/workflows/unified_analytics.yaml'
      - 'pkgs/unified_analytics/**'
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/unified_analytics.yaml'
      - 'pkgs/unified_analytics/**'
  schedule:
    - cron: '0 0 * * 0' # weekly

defaults:
  run:
    working-directory: pkgs/unified_analytics/

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sdk: [stable, dev]
        include:
          - sdk: stable
            run-tests: true
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: ${{matrix.sdk}}

      - run: dart pub get

      - run: dart analyze --fatal-infos

      - run: dart format --output=none --set-exit-if-changed .
        if: ${{matrix.run-tests}}

      - run: dart test
        if: ${{matrix.run-tests}}
